@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,150,100..1000&display=swap");


body {
  padding: 0;
  margin: 0;
  border: none;
  background-image: url(./mosque.png);
  background-size: cover; /* Покрывает весь контейнер */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 59px;
  position: relative;
  overflow: hidden;
  font-family: "Roboto Flex", sans-serif;
}

.title {
  padding-top: 110px;
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight: medium;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.ineer_text {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
}

.text {
  margin: 0;
  margin-top: 50px;
  font-size: 16px;
}

.text_1 {
  margin-top: 32px;
  width: 356px;
  border: solid 1px;
  border: 1px solid #ead7d7;
  border-radius: 12px;
  backdrop-filter: blur(10px); /* Эффект размытия */
  color: white; /* Цвет текста */
  max-width: 500px;
  text-align: left;
}

.text_2 {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  padding: 12px;
}

.button-wrapper {
  margin-top: 109px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-help {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 17px;
  align-items: center;
  color: #000;
  line-height: 48px;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.button-more_details {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 17px;
  line-height: 48px;
  color: #fff;

  background: none;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная белая рамка */
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Добавление тени для эффекта подъема */
}

@media screen and (max-width: 600px) {
  .button-wrapper {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0; /* Убедитесь, что элемент растягивается до правого края */
    width: auto; /* Используйте auto, чтобы ширина могла адаптироваться */
    max-width: 100vw; /* Убедитесь, что элемент не превышает ширину видимой области экрана */
    box-sizing: border-box; /* Учитывайте паддинг и границы при расчете ширины */
    padding-left: 20px;
    padding-right: 20px;
  }
}
